body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

.jumbotron {
    background-image: url("images/globe-2.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}
input {
    border-radius: 20px;
    width: 50%;
    text-align: center;
}
.jumbotron h1,
.jumbotron h2 {
    color: white;
}

.countries-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.country-box {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    margin: 5px;
    width: 100px;
    height: 100px;
    text-align: center;
    background-image: url("images/map_image.jpg");
    background-size: cover;
    background-color: rgba(80, 70, 172, 0.5);
}
p {
    color: white;
}
.buttons-container {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
button {
    background-color: #480e57;
    color: #fff;
    padding: 8px 16px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}
#searchInfo {
    color: white;
    font-size: 16px;
    font-weight: bold;
}