body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000;
    overflow: hidden;
}

.animation-container {
    text-align: center;
}

.animated-text {
    font-size: 8vw;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    background-image: linear-gradient(to bottom, #FF5733, #DAF7A6, #C70039, #FFC300, #900C3F);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    animation: changeColor 10s infinite;
}

@keyframes changeColor {
    0%, 100% {
        background-position: 0% 100%;
    }
    25% {
        background-position: 25% 100%;
    }
    50% {
        background-position: 50% 100%;
    }
    75% {
        background-position: 75% 100%;
    }
}
